@{
    ViewBag.Title = "Details";
}


<div id="divBody" class="col-md-12">
    <h3>Error Summary</h3>
    <style scoped>
        .colMessage {          
            font-size: larger;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            padding-left: 1em;
        }

        table {
            border: 1px;
            padding-left: 3px;
            padding-right: 3px;
            width:100%;
            padding:6px 6px 6px 6px;margin: 5px
        }

        td {
            padding-left: 3px;
            padding-right: 3px;
        }

        th {
            background-color: ActiveCaption;
            text-align: center;
            vertical-align: middle;
            padding-left: 3px;
            padding-right: 3px;
        }

        .headerLabel {
            background-color: ActiveCaption;
            text-align: left;
            vertical-align: middle;
            padding-left: 5px;
            padding-right: 3px;        
            width:30px;
            opacity:0.9;
        }
        .headerText {
            color: darkgray;
            padding-left:0.5em;
            padding-top:3px;
            padding-bottom:3px;
            
        }
   
        .colSpacing {
            color: darkgray;
        }
        
        .valueText {
            font-family:Consolas;
            white-space:pre;
           
        }
    </style>

    <table border="1">
        <tr>
            <td class="headerLabel">
                <strong>Event Date</strong>
            </td>
            <td class="headerText">
                <span data-bind="text: moment(header().eventDate).format('YY-MM-DD')"></span><br />
                <span data-bind="text: moment(header().eventDate).format('HH:mm:ss.SSS')"></span>
            </td>
            <td class="headerLabel">
                <strong >Severity</strong>
            </td>
            <td class="headerText">
                <span data-bind="text: header().eventTypeName"></span>
            </td>
        </tr>
        <tr>
            <td class="headerLabel">
                <strong>Application</strong>
            </td>
            <td class ="headerText">
                <span data-bind="text: header().eventApplication"></span>
            </td>
            <td class="headerLabel">
                <strong>Source</strong>
            </td>
            <td class="headerText">
                <span data-bind="text:header().eventSource"></span>
            </td>
        </tr>
        <tr>
            <td class="headerLabel">
                <strong>User</strong>
            </td>
            <td class="headerText">
                <span data-bind="text:header().eventUser"></span>
            </td>
            <td class="headerLabel">
                <strong>Host</strong>
            </td>
            <td class="headerText">
                <span data-bind="text:header().eventHost"></span>
            </td>
        </tr>
        <tr>
           <td colspan="4" class="colMessage">
               <span data-bind="text:header().eventMessage"></span>
           </td>
        </tr>
    </table>    
    <h3>Details</h3>
    <table border="1">
        <thead>
            <tr>
                <th>
                    Group
                </th>
                <th>
                    Name
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: properties">
            <tr>
                <td style="vertical-align:top">
                    <span data-bind="text: group"></span>
                </td>
                <td style="vertical-align:top">
                    <span data-bind="text: name"></span>
                </td>
                <td>
                    <span class="valueText" data-bind="text: value"></span>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<script>
    var id = '@Model';
    var details;
    $(document).ready(function () {
        details = new detailsVm("divBody", id);
        details.onReady();
    });
</script>