
@{
    ViewBag.Title = "Index";
}
<table id="mytable">
    
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Severity
            </th>
            <th>
                Application
            </th>
            <th>
                Host
            </th>
            <th>
                User
            </th>
            <th>
                Source
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Date
            </td>
            <td>
                Time
            </td>
            <td>
                Severity
            </td>
            <td>
                Application
            </td>
            <td>
                Host
            </td>
            <td>
                User
            </td>
            <td>
                Source
            </td>
        </tr>
    </tbody>
</table>

@*
<h2>Event Server Summary</h2>
<div id="divEventPage">
    <style scoped>
        .colMessage{
            border-bottom-color: dimgray; 
            border-bottom-width:2px;
            font-size:larger;
            padding-top:0.25em;
            padding-bottom:0.25em;
            padding-left:1em;
        }
        
        table {
             border:1px;
               padding-left:3px;
            padding-right:3px;
        }
        td {
            padding-left:3px;
            padding-right:3px;
        }
        th {
            background-color:ActiveCaption;
            text-align:center;
            vertical-align:middle;
            padding-left:3px;
            padding-right:3px;
        }
        .colSpacing {
            color:darkgray;
        }
    </style>
    <table border="1">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
                <th>
                    Severity
                </th>
                <th>
                    Application
                </th>
                <th>
                    Host
                </th>
                <th>
                    User
                </th>
                <th>
                    Source
                </th>                
            </tr>
        </thead>
        <tbody data-bind="foreach: eventRows" >
            <tr class="colSpacing">
                <td class="colSpacing" data-bind="text:  moment(eventDate).format('YY-MM-DD') "></td>
                <td class="colSpacing" data-bind="text:  moment(eventDate).format('HH:mm:ss.SSS') "></td>
                <td class="colSpacing" data-bind="text: eventTypeName"></td>
                <td class="colSpacing" data-bind="text: eventApplication"></td>
                <td class="colSpacing" data-bind="text: eventHost"></td>
                <td class="colSpacing" data-bind="text: eventUser"></td>
                <td class="colSpacing" data-bind="text: eventSource"></td>
            </tr>
            <tr >
                <td class="colMessage"  colspan="7" >
                    <span data-bind="text: eventMessage"></span>
                    <a data-bind="attr: {href: detailsLink}" style="font-size:smaller">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>*@
<script>
    var pageVm = null;
    $(document).ready(function () {
        $('#mytable').DataTable();
        //pageVm = new eventVm("divEventPage");
        //pageVm.onReady();
    })
</script>