@{
    ViewBag.Title = "Index";
}

<div id="topMenu">
    <ul class="list-unstyled">
        <li><a href="#clientSetup">Setting Up Logging</a></li>
        <li style="padding-left:15px;">
            <ul class="list-unstyled">
                <li>
                    <a href="#">Client Side</a>
                </li>
                <li>
                    <a href="#">Server Side</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="clientSetup" class="panel panel-default">
    <div class="panel-heading">
        <div>
            <span><strong>Panel title</strong></span>
            <span class="pull-right"><a href="#topMenu">top</a></span>
        </div>

    </div>
    <div class="panel-body">
        Panel content
        <p>
            more text
        </p>
        <div class="pull-right"><span><a href="#topMenu">top</a></span></div>

    </div>
</div>
