<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="Connection" value="User Id=12; password=opensesasme!; Connection Pool=13" providerName="Microsoft.MSSQL"/>

    <add name="Connection" value="User Id=12; password=opensesasme!; $[connectionAttributes]" providerName="Microsoft.MSSQL"/>

    <add name="AuthService" value="http://qa-server:8019"/>
    <add name="ImageService" value="http://qa-server:8020"/>
    <add name="DocumentService" value="http://qa-server:8021"/>
    <add name="LegacyService" value="http://qa-server:8023"/>

    <add name="Host" value="qa-server"/>
    
    <add name="AuthService" value="http://{$host}:${portRoot$[Env]}19"/>
    
    <add name="ImageService" value="http://{$host}:${portRoot$[Env]}20"/>
    <add name="DocumentService" value="http://{$host}:${portRoot$[Env]}21"/>
    <add name="LegacyService" value="http://{$host}:${portRoot$[Env]}23"/>

  </connectionStrings>
  <appSettings>
    <add key="connectionAttributes" value="Connection Pool=13"/>
    <add key="portRootQA1" value="80"/>
    <add key="portRootQA2" value="81"/>
    <add key="portRootQA3" value="82"/>
    <add key="serverQA1" value="\\qaserver" />
    <add key="server" value="$[server$[Env]]"/>  <!-- resolves to $[serverQA1] => \\qaserver -->
    <add key="serverlocal" value="c:\temp"/>
    <add key="ExportFileLocation" value="$[server]\dropShare\$[AppName]\Output"/>
    <add key="ExportFileLocation" value="\\devserver\dropShare\$[AppName]\Inbound"/>
    <add key="AppName" value= "appSite"/>
    <add key="Env" value="QA1"/>
    
    <add key="Hashtag.Application.Name" value ="stuff"/>
    <add key="HashTag.Application.Environment" value="local"/>
  </appSettings>
</configuration>