<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    
    <!-- HashTag.Application.Name (Required:  Logging, SecVault) -->
    <add key="HashTag.Application.Name" value="demo app"/>

    <!-- HashTag.Application.Environment (Required:  Logging, SecVault) -->
    <add key="HashTag.Application.Environment" value="SomeEnv"/>
        
    <add key="HashTag.Logging.ConnectorType" value="HashTag.Logging.Client.NLog.Extensions.NLogEventConnector, HashTag.Logging.Client"/>
    
    <add key="HashTag.Logging.SourceLevels" value="Debug"/>
    
    <!-- nLog diagnostics flags -->
    <add key="internalLogLevel" value="Trace"/>
    <add key="internalLogToConsole" value="true"/>
  </appSettings>
  <!--
  NLog Configuration
  
  NOTE:  Usually control logging verbosity using the HashTag.Logging.SourceLevels entry and leave
         NLog levels to Trace (e.g. all messages); unless there's a specific use-case to override
         the defaults.
         
         Using the appSetting approach allows the NLog section to be generally ignored.
         
  Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
Debug - debugging information, less detailed than trace, typically not enabled in production environment.
Info - information messages, which are normally enabled in production environment
Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
Error - error messages - most of the time these are Exceptions
Fatal - very serious errors!
  -->
  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="HashTag.Logging.Client" />
    </extensions>
    <targets>
      <target xsi:type="Debugger" name="T1" />
      <target xsi:type="ColoredConsole" name="T2" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="t1,t2"/>
    </rules>    
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
