<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HashTag.Application.Environment" value="some environment value" />
    <add key="HashTag.Application.Key" value ="some unique application key" />

    <!--
    =================================================================
    Optional fields
    =================================================================
    -->
    <add key="HashTag.Encryption.KeyFile" value=""/>
    <add key="HashTag.Logging.LogLevels" value="Warning, Error, Critical"/>
    <add key="HashTag.Logging.IsInternalLogEnabled" value="yes"/>
    <add key="HashTag.Logging.InternalLogFile" value="{app}.InternalLog"/>
    <add key="HashTag.Logging.InternalLogFolder" value=""/>
    <add key="HashTag.Logging.Default.TimestampFormat" value="yyyyMMdd"/>
    <add key="HashTag.Logging.Persister" value="HashTag.Diagnostics.InternalLogFilePersister,HashTag.Core"/>
    <add key="HashTag.Logging.Default.LogFolder" value=""/>
    <add key="HashTag.Logging.Default.FilePrefix" value="{app}.Log.{ts}"/>
    <add key="HashTag.Logging.Default.MaxFileSizeMb" value="5"/>
    <add key="HashTag.Logging.Default.FileExtension" value="log"/>

  </appSettings>
  <system.diagnostics>
    <sources>
      <source name ="HashTag.Diagnostics.Source" switchName="HashTag.Diagnostics.SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>

        </listeners>
      </source>
    </sources>

    <switches>
      <clear/>
 <!--
 Values can be:
 
   Critical         - Critical events written to log
   Error            - Critical, Error events written to log
   Warning          - Critical, Error, Warning events written to log
   Information      - Critical, Error, Warning, Information events written to log
   Verbose          - Critical, Error, Warning, Information, Verbose events written to log
   ActivityTracing  - Start, Stop, Transfer events written to log
   All              - Critical, Error, Warning, Information, Verbose, Start, Stop, Transfer events written to log
 
   Off - NO events written to log
 
   Combine values using comma delimited list
 
   Default: Information, ActivityTracing
 
 for more info see:  http://www.thejoyofcode.com/System.Diagnostics_hidden_SourceLevels.aspx
 -->
      <add name="HashTag.Diagnostics.SourceSwitch" value="All" />
    </switches>
  </system.diagnostics>
</configuration>