<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\__DemosAndSupport\HashTag.MVC.Elmah.RestClientDemo\packages.config" />
  <repository path="..\src\__DemosAndSupport\HashTag.NetLog.DemoWeb\packages.config" />
  <repository path="..\src\__DemosAndSupport\HashTag.NLog.Demo\packages.config" />
  <repository path="..\src\__DemosAndSupport\HashTag.Web.Elmah.RestClientDemo\packages.config" />
  <repository path="..\src\__DemosAndSupport\LogEventProcessor_TestHarness\packages.config" />
  <repository path="..\src\HashTag.Core.Project\packages.config" />
  <repository path="..\src\HashTag.Core.RestClient\packages.config" />
  <repository path="..\src\HashTag.Elmah.RestProxy\packages.config" />
  <repository path="..\src\HashTag.Logging.Client\packages.config" />
  <repository path="..\src\HashTag.Logging.MSSQL\packages.config" />
  <repository path="..\src\HashTag.Logging.Service.API\packages.config" />
  <repository path="..\src\HashTag.Logging.Web.Library\packages.config" />
  <repository path="..\src\HashTag.Logging.Web.Service\packages.config" />
  <repository path="..\src\HashTag.Web.Api\packages.config" />
  <repository path="..\src\NLog Demo\packages.config" />
  <repository path="..\src\NLog.HashTag.Extensions\packages.config" />
</repositories>