<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\__DemosAndSupport\HashTag.NetLog.DemoWeb.Services\packages.config" />
  <repository path="..\src\__DemosAndSupport\HashTag.NetLog.DemoWeb\packages.config" />
  <repository path="..\src\__DemosAndSupport\HashTag.NLog.Demo\packages.config" />
  <repository path="..\src\HashTag.Logging.Client\packages.config" />
</repositories>