<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnRestService" connectionString="http://localhost:60104/events/0/0"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <system.diagnostics>
    <sources>
      <source name="HashTag.Diagnostics.TraceSource" switchValue="All">
        <listeners>
          <add name="HashTagEventServiceListener" type="HashTag.Diagnostics.TraceListeners.EventServiceListener, HashTag.Core" connectionStringName="cnRestService"/>
        </listeners>
      </source>
      <source name="HashTag.Diagnostics.FailOver" switchValue="Error">
        <listeners>
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>     
    </sources>    
  </system.diagnostics>
</configuration>
