<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnRestService" connectionString="http://locUUUalhost:60104/events/0/0" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="HashTag.Diagnostics.TraceSource" switchValue="All">
        <listeners>
          <add name="HashTagEventServiceListener" type="HashTag.Diagnostics.TraceListeners.EventServiceListener, HashTag.Core" connectionStringName="cnRestService" />
        </listeners>
      </source>
      <source name="HashTag.Diagnostics.TraceSource.FailOver" switchValue="All">
        <listeners>
          <add name="FileListener" type="HashTag.Diagnostics.TraceListeners.EventFailOverListener, HashTag.Core" logFolder="c:\temp2"></add>
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>     
    </sources>    
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
