<?xml version="1.0" encoding="utf-8" ?>
<!--
NOTE:  This is NOT a complete .config file.  Only sections pertaining to Logging are included here
-->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>

    <add key="HashTag.Application.Name" value="LoggingDemo" />
    <add key="HashTag.Application.Environment" value="local" />
    <!-- 
    DO NOT REMOVE THESE COMMENTS
    
    A comma delmited list of:
      Off, Critical, Error, Warning, Information, ActivityTracing, All
      
    Default:  Information, ActivityTracing
    -->
    <add key="HashTag.Logging.SourceLevels" value="Information,ActivityTracing"/>

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

    <!--
      NLog Configuration Settings::internalLogLevel (optional. Recommended)
      
      See: https://github.com/NLog/NLog/wiki/Internal-Logging
    -->
    <add key="internalLogLevel" value="Trace" />
    <add key="internalLogToConsole" value="true" />

  </appSettings>

  <nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="HashTag.Logging.Client" />
    </extensions>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="defaultTargetList" />
    </rules>
    <targets async="true">
      <target xsi:type="FallbackGroup" name="defaultTragetList" returnToFirstOnSuccess="true">
        <target xsi:type="Debugger" name="T1" layout="${longdate}|${level}|${logger}|${message}" />
        <!-- set application specific targets here and (alternatively) remove debugger target -->
      </target>      
    </targets>
  </nlog>
  <elmah>
    <security allowRemoteAccess="false" />
    <errorLog type="HashTag.Logging.Client.Elmah.ElmahErrorLog, HashTag.Logging.Client" />
  </elmah>
</configuration>